@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@model FishMap.Web.ViewModels.FishSpecies.FishSpeciesByIdViewModel
@{
    ViewData["Title"] = this.Model.Name;
}

<h1 class="h1 text-center mt-2">@ViewData["Title"]</h1>
<div class="row mb-5 mt-2">
    <div class="card mb-4 bg-transparent">
        <div class="row">
            <div class="col-1"></div>
            <img class="card-img-top col-10 rounded mt-2" src="@Model.ImageUri" alt="Card image cap">
            <div class="col-1"></div>
        </div>
        @*<div class="row"
                <img class="rounded mt-2" src="@Model.ImageUri" alt="Card image cap">
                <div class="form-group mt-md-6">
                    <label>Изберете място на излета</label>
                    <div id="map" class="z-depth-1-half map-responsive" style="height: 63vh"></div>
                </div>
            </div>*@
        <div class="card-body text-center">
            <p class="card-text"><strong>Описание:</strong> @Model.Description</p>
            @if (Model.MinimalLegalSize != null)
            {
                <p class="card-text"><strong>Минимално допустими размери за улов:</strong> @Model.MinimalLegalSize см.</p>
            }
            <div id="map" class="z-depth-1-half map-responsive" style="height: 63vh"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=@(this.configuration["GoogleMaps:ApiKey"])&callback=initMap&libraries=&v=weekly"
            defer></script>
    <script>
        let markers = [];
        let map;

        function initMap() {
            const myLatlng = { lat: 42.7249925, lng: 25.4833039 };
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 7.5,
                center: myLatlng,
            });

            debugger;
            @foreach (var trip in Model.Trips)
            {
                @:addMarker({ lat: @trip.Latitude, lng: @trip.Longtitude });
            }
        }  

        function addMarker(location) {
            const marker = new google.maps.Marker({
                icon: "http://maps.google.com/mapfiles/kml/shapes/fishing.png",
                draggable: false,
                animation: google.maps.Animation.DROP,
                map: map,
                position: location,
            });
            markers.push(marker);
            debugger;
        }
    </script>
}

