@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@model FishMap.Web.ViewModels.FishSpecies.FishSpeciesByIdViewModel
@{
    ViewData["Title"] = this.Model.Name;
}

    <div class="card mb-5 container mt-3 bg-transparent text-center border-0">
        <h3 class="card-title text-center">@Model.Name</h3>
        <hr class="alert-info" />
        <div class="row">
            <div class="col-md-2 col-1"></div>
            <img class="card-img-top rounded col-md-8 col-10" src="@Model.ImageUri" alt="Card image cap">
            <div class="col-md-2 col-1"></div>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Описание: </strong>@Model.Description</p>
            @if (Model.MinimalLegalSize != null)
            {
                <p><strong>Минимално допустим размер за улов: </strong>@Model.MinimalLegalSize<text>см.</text></p>
            }
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Виж локации
            </button>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Локации на които е хванат @Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="map" class="z-depth-1-half map-responsive" style="height: 60vh"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=@(this.configuration["GoogleMaps:ApiKey"])&callback=initMap&libraries=&v=weekly"
            defer></script>
    <script>
        let markers = [];
        let map;

        function initMap() {
            const myLatlng = { lat: 42.7249925, lng: 25.4833039 };

            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 6.7,
                center: myLatlng,
            });
            @foreach (var trip in Model.Trips)
            {
                @:addMarker({ lat: @trip.Latitude, lng: @trip.Longtitude }, { username: '@trip.Username', date: '@trip.Date', fishingMethod: '@trip.FishingMethod', caughtsCount: '@trip.FishCaughtCount', id: '@trip.Id' });
            }
        }

        function addMarker(location, tripData) {
            switch (tripData.fishingMethod) {
                case 'BaitFishing':
                    tripData.fishingMethod = 'Риболов на жива стръв';
                    break;
                case 'FlyFishing':
                    tripData.fishingMethod = 'Риболов на муха';
                    break;
                case 'Spinning':
                    tripData.fishingMethod = 'Спининг';
                    break;
                case 'Trolling':
                    tripData.fishingMethod = 'Тролинг';
                    break;
            }

            const contentString = '<p style="color: black"><strong>Рибар: </strong>' + tripData.username + '</p>'
                + '<p style="color: black"><strong>Метод на риболов: </strong>' + tripData.fishingMethod + '</p>'
                + '<p style="color: black"><strong>Брой хванати риби: </strong>' + tripData.caughtsCount + '</p>'
                + '<p style="color: black"><strong>Дата: </strong>' + tripData.date + '</p>';

            const infoWindow = new google.maps.InfoWindow({
                content: contentString,
            });
            
            const marker = new google.maps.Marker({
                icon: "http://maps.google.com/mapfiles/kml/shapes/fishing.png",
                draggable: false,
                optimized: true,
                animation: google.maps.Animation.DROP,
                map: map,
                position: location,
            });

            marker.addListener('click', () => {
                const href = "/Trips/ById/" + tripData.id;
                window.location.href = href;
            });

            marker.addListener("mouseover", () => {
                infoWindow.open(map, marker);
            });

            marker.addListener("mouseout", () => {
                infoWindow.close();
            });

            markers.push(marker);
        }
    </script>
}

